html {
  height: 100%;
}

body {
  background-color: #f8f2e9;
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

nav {
  background-color: white;
  height: 70px;
  margin: 0;
  /* padding: 15px; */
  color: black;
  font-size: .75rem;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
}

.nav-flexbox {
  height: 70px;
  display: flex;
  align-items: flex-end;
  /* border: 2px solid green; */
}

.icon-flexbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.icon-background {
  background-color: #f5cac3;
  border-radius: 50%;
  margin: 10px;
}

.icon {
  width:20px;
  padding: 8px;
}

.userLogo {
  width:20px;
  padding: 0 5px;
}

.user-flexbox {
  color: rgb(105, 91, 74);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 15px;
  margin: 10px;
}

.nav-text:hover {
  cursor: pointer;
}

/* LOGIN PAGE */

#logInView {
  height: 600px;
}

#pageLogo {
  height: 300px;
  margin: 0 50px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-input {
  text-align: center;
  height: 40px;
  width: 200px;
  margin: 20px;
  border-radius: 20px;
}

#loginMsg {
  margin-top: 0;
  font-size: 1.75rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginBtn {
  width: 100px;
  height: 50px;
  border-radius: 20px;
}

/* DASHBOARD VIEW */

main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 10px 50px;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

.bookings-display {
  margin-bottom: 40px;
  display: flex;
}

.card {
  border: 2px solid black;
  height: 350px;
  width: 300px;
  margin: 20px;
}

.card-img {
  width: 300px;
  height: 200px;
}

.card-text-wrapper {
  padding: 10px;
}

.card-past {
  display: flex;
  border: 2px solid black;
  height: 200px;
  width: 300px;
  padding: 10px;
  margin: 20px;
}

.card-past-img {
  height: 200px;
  width: 150px;
}

.card-past-text-wrapper {
  padding: 5px;
}

/* BOOKINGS VIEW */

#searchDates {
  border-radius: 20px;
  height: 20px;
  width: 150px;
}

#searchBtn {
  border-radius: 20px;
}
.filter-flex {
  display: flex;
  justify-content: space-between;
  /* width: 1000px; */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-booking-text {
  margin: 5px;
}

.scroll {
  width:800px;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  /* border:1px solid black; */
  overflow-x: scroll;
  white-space: nowrap;
}

button:hover, li:hover {
  cursor: pointer;
}

/* INDIVIDUAL BOOKINGS */

.individual-booking {
  display: flex;
  width: 700px;
  height: 500px;
  border: 2px solid black;
}

.single-img {
  height: 500px;
  max-width: 400px;
  object-fit: cover;
}

.single-card-text-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  align-items: center;
}

.hidden {
  display: none;
}