html {
  height: 100%;
}

body {
  background-color: #f8f2e9;
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

nav {
  background-color: white;
  height: 70px;
  margin: 0;
  color: black;
  font-size: .75rem;
  display: flex;
  justify-content: space-between;
}

.nav-flexbox {
  height: 70px;
  display: flex;
  align-items: flex-end;
}

.icon-flexbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.selected {
  text-decoration: underline overline #f5cac3;
  text-decoration-thickness: 5px;
}

.icon {
  width:20px;
  padding: 8px;
}

.icon-button {
  background-color: #f5cac3;
  border: none;
  border-radius: 50%;
  margin: 10px;
}

.userLogo {
  width:20px;
  padding: 0 5px;
}

.user-flexbox {
  color: rgb(105, 91, 74);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 15px;
  margin: 10px;
}

.nav-text:hover,
button:hover,
li:hover {
  cursor: pointer;
}

#errorMsg {
  color: red;
  font-size: 20px;
  margin-left: 15px;
}

/* LOGIN PAGE */
#logInView {
  height: 600px;
}

#pageLogo {
  height: 300px;
  margin: 0 50px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  text-align: center;
  height: 40px;
  width: 200px;
  margin: 20px;
  border: 2px solid #E6E6E6;
  border-radius: 24px;
  background-color: #FAFAF5;
}

#loginMsg {
  margin-top: 0;
  font-size: 1.75rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginBtn {
  width: 100px;
  height: 45px;
  border: none;
  border-radius: 24px;
  background-color: #f5cac3;
}

/* DASHBOARD VIEW */
main {
  display: flex;
  justify-content: center;
  padding: 10px 50px;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

.bookings-display {
  margin-bottom: 40px;
  display: flex;
}

.card {
  background: #FAFAF5;
  border: 2px solid #E6E6E6;
  border-radius: 24px;
  margin: 20px;
}

.card-img {
  width: 300px;
  height: 200px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.card-text-wrapper {
  padding: 10px;
}

.card-past-text-wrapper {
  padding: 5px;
}

/* BOOKINGS VIEW */
#searchBtn {
  width: 100px;
  border: none;
  border-radius: 24px;
  background-color: #f5cac3;
  padding: 12px;
}

ul {
  list-style: none;
}

.filter-flex {
  display: flex;
  justify-content: space-between;
}

.filter-btn {
  width: 150px;
  padding: 10px;
  border: 2px solid #E6E6E6;
  border-radius: 24px;
  background-color: #FAFAF5;
  text-align: center;
}

.filter-selected {
  width: 150px;
  padding: 10px;
  border: 2px solid #E6E6E6;
  border-radius: 24px;
  background-color: #f5cac3;
  text-align: center;
}

.clear-btn {
  background: #E6E6E6;
  border-radius: 15px;
  padding: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-booking-text {
  margin: 5px;
}

.scroll {
  width:800px;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  white-space: nowrap;
}

/* INDIVIDUAL BOOKINGS */
#individualBookingView {
  text-align: center;
}

.individual-booking {
  display: flex;
  width: 700px;
  height: 550px;
  padding: 0;
}

.single-img {
  height: 550px;
  max-width: 400px;
  object-fit: cover;
}

.single-card-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding-right: 5px;
}

.single-card-text-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1.10rem;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 15px;
}

.small-img {
  object-fit: cover;
  padding-left: 5px;
  max-width: 140px;
}

.small-img-wrapper {
  display: flex;
}

.roomType {
  text-align: center;
  font-size: 1.4rem;
}

.confirmation-message {
  font-size: 1.3rem;
  margin-bottom: 9px;
}
.roomCost {
  margin-bottom: 20px;
}

.bookBtn {
  padding: 10px;
  border: none;
  border-radius: 24px;
  background-color: #f5cac3;
}

.close {
  padding: 5px;
  border: none;
  border-radius: 24px;
  background-color: #dfdfdf;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  #pageLogo {
    width: 300px;
    object-fit: cover;
    padding: 10px;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
  }

  #loginMsg {
    font-size: 1.3rem;
  }

  input {
    text-align: center;
    height: 40px;
    width: 100px;
    margin: 5px;
    border: 2px solid #E6E6E6;
    border-radius: 24px;
    background-color: #FAFAF5;
  }

  nav {
    width: 100%;
    margin: 0;
  }

  #welcomeMsg {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1rem;
    margin-left: 40px;
  }

  #totalSpent {
    margin-left: 40px;
  }

  .scroll {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    white-space: nowrap;
  }

  #newBookingsView {
    width: 100%;
  }

  .filter-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    min-width: none;
    justify-content: center;
  }

  .filter-btn, .clear-btn {
    width: 70px;
    font-size: .7rem;
    padding: 5px;
  }

  .hidden {
    display: none;
  }
}